<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.realworld.blog.mapper.CommentMapper">

    <resultMap id="BaseResultMap" type="com.realworld.blog.entity.Comment">
            <id property="id" column="id" />
            <result property="body" column="body" />
            <result property="articleId" column="article_id" />
            <result property="authorId" column="author_id" />
            <result property="createdAt" column="created_at" />
            <result property="updatedAt" column="updated_at" />
    </resultMap>

    <sql id="Base_Column_List">
        id,body,article_id,author_id,created_at,updated_at
    </sql>
    <insert id="insertCommentBySlugAndUsernameAndBody">
        insert into comment (body,article_id,author_id) values
        (#{body},(select id from article a where a.slug=#{slug}),(select u.id from user u where u.username=#{currentUsername}))
    </insert>
    <select id="getCommentBean"
            resultType="com.realworld.blog.dto.response.CreateCommentResponse$CommentBean">
        select c.*,u.id,u.username,u.bio,u.image, a.author_id as articleAuthorId from comment c
            join user u on u.id=c.author_id join article a on a.id=c.article_id
        where u.username=#{currentUsername} and a.slug=#{slug} order by c.created_at desc
    </select>
    <select id="getCommentBeanByCommentId"
            resultType="com.realworld.blog.dto.response.CreateCommentResponse$CommentBean">
        select c.*,u.id as "author.userId",u.username as "author.username",u.bio as "author.bio",u.image as "author.image", a.author_id as articleAuthorId from comment c
        join user u on u.id=c.author_id join article a on a.id=c.article_id
        where c.id=#{id}
    </select>
    <select id="getCommentBeanBySlug" resultType="com.realworld.blog.dto.response.ListCommentsResponse$CommentsBean">
        select c.*,u.id as "author.userId",u.username as "author.username",u.bio as "author.bio",u.image as "author.image", a.author_id as articleAuthorId from comment c
                                                                                                                                                                    join user u on u.id=c.author_id join article a on a.id=c.article_id
        where a.slug=#{slug}
    </select>
    <select id="getCommentBeanByArticleId"
            resultType="com.realworld.blog.dto.response.ListCommentsResponse$CommentsBean">
        select c.*,u.id as "author.userId",u.username as "author.username",u.bio as "author.bio",u.image as "author.image", a.author_id as articleAuthorId from comment c
                                                                                                                                                                    join user u on u.id=c.author_id join article a on a.id=c.article_id
        where a.id=#{id} order by c.created_at desc
    </select>
    <!--    <select id="getCommentBeanByCommentId"-->
<!--            resultType="com.realworld.blog.dto.response.CreateCommentResponse$CommentBean">-->
<!--        select c.*,u.id as userId,u.username,u.bio,u.image,a.author_id as articleAuthorId from comment c-->
<!--                                                                                                                                                                                    join user u on u.id=c.author_id join article a on a.id=c.article_id-->
<!--        where c.id=#{id}-->
<!--    </select>-->
</mapper>
