<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.realworld.blog.mapper.UserFavoritesMapper">

    <resultMap id="BaseResultMap" type="com.realworld.blog.entity.UserFavorites">
            <id property="userId" column="user_id" />
            <id property="articleId" column="article_id" />
    </resultMap>

    <sql id="Base_Column_List">
        user_id,article_id
    </sql>
    <delete id="deleteByUsernameAndSlug">
        delete from user_favorites uf
               where uf.user_id=(select u.id from user u where u.username=#{currentUsername})
                and uf.article_id=(select a.id from article a where a.slug=#{slug})
    </delete>
    <select id="selectFavoritedBycurrentUsernameAndarticleId" resultType="java.lang.Integer">
        select count(1) from user u inner join user_favorites uf on u.id=uf.user_id inner join article a  on a.id=uf.article_id
        where u.username=#{currentUsername} and a.id=#{articlesDTOId}
    </select>
    <select id="selectFavoritedBycurrentUsernameAndSlug" resultType="java.lang.Boolean">

select exists(select 1 from user_favorites uf
              where uf.user_id=(select u.id from user u where u.username=#{currentUsername})
                and uf.article_id=(select a.id from article a where a.slug=#{slug}))

    </select>

</mapper>
