<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.realworld.blog.mapper.UserFollowsMapper">

    <resultMap id="BaseResultMap" type="com.realworld.blog.entity.UserFollows">
            <id property="followerId" column="follower_id" />
            <id property="followeeId" column="followee_id" />
    </resultMap>

    <sql id="Base_Column_List">
        follower_id,followee_id
    </sql>
    <select id="selectfollowingCountBycurrentUsernameAndAuthorId" resultType="java.lang.Integer">
        select count(1) from user u join user_follows uf on u.id = uf.follower_id
                 where u.username=#{currentUsername} and uf.followee_id=#{authorId}
    </select>
</mapper>
